#use-custom-markers {
    min-width: 240px;
}

#use-custom-markers, #show-tooltips {
    margin-top: 10px;
    margin-left: 10px;
}
#map{
    min-width: 400px;
    max-width: 800px;
}
#gridContainer {
    width: 80%;
}